<body>
    <h1>Report Question</h1>
    <p>You are about to report the question with ID: {{questionId}}</p>

    <form action="/questions/{{questionId}}/report" method="POST" id="reportForm">
        <label for="reportReason">Reason for Report:</label>
        <textarea id="reportReason" name="reportReason" required></textarea>
        <button type="submit" class="btn btn-primary" id="reportAlertButton">Submit Report</button>
        <div id="liveAlertPlaceholder"></div>
    </form>
    <script src="/public/js/alert_button.js"></script>
</body>