.edit-user-form {
    max-width: 300px;
}

.edit-user-form .full-width-input {
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
}

label {
    font-weight: bold;
}

.error-list li {
    color: #ff0000;
}

.website-title {
    text-decoration: underline;
    font-style: italic;
    padding: 10px;
    margin-bottom: 2em;
    text-align: center;
}

.user-email {
    color: orange;
    padding-left: 30px;
}

.carousel-custom-style {
    background-color: #3C4043;
    color: #fff;
    padding: 4em;
    max-width: 100%;
    margin-top: 20px;
}

.nav {
    margin: 2em;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.nav-item {
    margin-left: 3em;
    margin-right: 3em;
}

/* Overall difficulty stars */
.star-rating {
    display: inline-flex;
    align-items: center;
  }

  .star {
    font-size: 24px;
    margin-right: 4px;
  }

  .star.full {
    color: #ffc107; /* Gold color for full stars */
  }

  .star.half {
    color: #ffc107; /* Gold for half stars */
    position: relative;
  }

  .star.half::after {
    content: '\2605'; /* Unicode for star */
    color: #d3d3d3; /* Gray color for empty portion */
    position: absolute;
    left: 50%; /* Half overlay */
    width: 50%;
    overflow: hidden;
  }

  .star.empty {
    color: #d3d3d3; /* Gray color for empty stars */
  }
