<div class="error-container">
        <h1>Something Went Wrong</h1>
        <p>{{#if message}}
            {{message}}
        {{else}}
            An unexpected error has occurred. Please try again later.
        {{/if}}</p>
        <p><a href="/">Go Back to Home</a></p>
    </div>