<h1>Interview Question Preparation</h1>
<h3>CS546-WN Group 1</h3>

<br>
<i>This will scroll with different information about our website.</i>
<br>
<div id="carouselExampleIndicators" class="carousel slide carousel-custom-style" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section>
                <h2>Purpose</h2>
                <p>This website aggregates questions asked in interviews for the biggest companies and displays them in
                    an intuitive
                    and easily readable manner. The goal is to serve as a quick study guide for people trying to
                    minimize the amount
                    of time they have to spend on interview prep. Existing interview question sites like Glassdoor are
                    bloated and
                    slow, making it unnecessarily difficult to retrieve the most relevant information when it comes to
                    interview
                    questions.
                </p>
            </section>
        </div>
        <div class="carousel-item">
            <section>
                <h2>Functionality</h2>
                <h3>Core Features:</h3>
                <ol>
                    <li><b>Landing Page:</b> Explains the purpose and functionality of the website.</li>
                    <li><b>Company Overview:</b> Provides an overview of a company along with a simple visual or table
                        displaying the average difficulty of the interview questions asked by the company.</li>
                    <li><b>Interview Question Section:</b> Lists out the interview questions for a company in a
                        paginated section along with the most important fields (question, answer, date submitted,
                        position, etc). Filters allow for the list of questions to be narrowed down (filter by
                        complexity, job title/family, etc).</li>
                    <li><b>User Profiles:</b> Created when users create an account. An account allows users to submit,
                        rate, and report interview questions.</li>
                    <li><b>Detailed Question Page:</b> Shows all of the detailed information for the interview question
                        and also allows for the submission and display of user comments for the question.
                    <li><b>Question Form:</b> Allows users to add an interview question for a company.</li>
                    <li><b>AI-Generated Solutions:</b> OpenAI or Google integration to add AI-generated answers to
                        user-submitted questions.</li>
                    <li><b>Reporting Function:</b> Allow users to report questions that they think are inappropriate,
                        irrelevant, etc. A message will let users know that they have successfully reported a question,
                        and there will be a system on the backend to flag these questions for manual review.</li>
                    <li><b>Statistics Page:</b> Shows more detailed statistics on the breakdown of questions for each
                        company, including things like total number of questions, interview locations, years of
                        experience, etc.
                    </li>
                </ol>
                <br>
                <h3>Extra Features <i>(optional extra credit):</i></h3>
                <ol>
                    <li><b>Upvoting Function:</b> Allow users to upvote questions that also came up for them or are
                        insightful. Total upvotes can be displayed for each question and questions can also be sorted by
                        upvotes.
                    </li>
                    <li><b>User Profile Customization:</b> Allow users to customize their profile page with things like
                        custom avatars, bios, and contact information.</li>
                    <li><b>Schedule Live Mock Interviews:</b> Allows users to schedule a live mock interview with a
                        professional interviewer.</li>
                </ol>
            </section>
        </div>
        <div class="carousel-item">
            <section>
                <h2>Team Members</h2>
                <ul>
                    <li>Adisesh Yeragudi (CWID: 20026714)</li>
                    <li>Josh Shu (CWID: 20026400)</li>
                    <li>JP Halis (CWID: 10386298)</li>
                    <li>Michael Chillemi (CWID: 20017987)</li>
                    <li>Zian (Fred) Zhang (CWID: 20026066)</li>
                </ul>
            </section>
        </div>
        <div class="carousel-item">
            <section>
                <h2>Key Resource Links</h2>
                <ul>
                    <li><a href="https://github.com/jphalis/cs546_wn_group1_final_project">GitHub Repository</a></li>
                    <li><a href="https://docs.google.com/document/d/18blD1gI821sJChgBfTjGgH3DWrygw0TnWOh-uIf2ZpQ/">Project
                            Proposal</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1vBdEtxViSnt6xqMAFjLiRZxsFoHMZI8Q2BFGh38z3wI/">Project
                            Presentation</a></li>
                    <li><a href="https://docs.google.com/document/d/1meSzI9E9rs8j-EjlA4SB6nkCxRUSHul9-QpsscQDfw8/">Database
                            Proposal</a></li>
                </ul>
            </section>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>