<section>
    <article>
<h1>Submit Your Own Question</h1>

<form action="/users/submit" method="POST">
    <label for="user_question_input">Enter Question</label>
    <input type="text" id="user_question_input" name="user_question_input" required style="width: 100%;" placeholder="Question?">
    <br>

    <label for="user_question_role">Enter Role</label>
    <input type="text" id="user_question_role" name="user_question_role" required style="width: 100%;" placeholder="Role">
    <br>

    <label for="user_question_diff">Enter Difficulty</label>
    <input type="text" id="user_question_diff" name="user_question_diff" required style="width: 100%;" placeholder="Ex: Easy, Medium, Hard, Very Hard">
    <br>

    <label for="user_question_company">Enter Company</label>
    <input type="text" id="user_question_company" name="user_question_company" required style="width: 100%;" placeholder="Company That Asked the Question">
    <br>

    <label for="user_question_location">Enter Location</label>
    <input type="text" id="user_question_location" name="user_question_location" required style="width: 100%;" placeholder="Ex: City, State">
    <br>

    <label for="user_question_experience">Enter Experience</label>
    <input type="text" id="user_question_experience" name="user_question_experience" required style="width: 100%;" placeholder="Experience, Only Numbers">
    <br>

    <label for="user_question_type">Enter Type</label>
    <input type="text" id="user_question_type" name="user_question_type" required style="width: 100%;" placeholder="Ex: onsite, zoom, etc">
    <br>

    <label for="user_question_category">Enter Category</label>
    <input type="text" id="user_question_category" name="user_question_category" required style="width: 100%;" placeholder="Question Category">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</article>
</section>


<div id="error-div"> {{message}} </div>


<script src="../../public/js/submit_question_val_check.js" type="module"></script>
