<section>
    <h1>Welcome to your profile page!</h1>

    <br>

    <article>
        <h2>Profile Details</h2>
        <p><b>First Name:</b> {{firstName}}</p>
        <p><b>Last Name:</b> {{lastName}}</p>
        <p><b>Email:</b> {{email}}</p>
        {{!-- <a href="/users/{{id}}/edit">Edit your profile</a> --}}
    </article>

    <br>

    <article>
        <h2>Questions You've Rated</h2>
        <p>Placeholder text</p>
    </article>
    
    <br>

    <article>
        <h2>Questions You've Reported</h2>
        <p>Placeholder text</p>
    </article>
</section>