<h1>Sign Up for a Mock Interview</h1>

<form id="mockInterviewForm">
    <label for="firstName">FirstName:</label>
    <input type="text" id="firstName" name="firstName" placeholder="Enter your First Name" required>
    <br>
    <label for="LastName">LastName:</label>
    <input type="text" id="LastName" name="LastName" placeholder="Enter your Last Name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
    <br>
    <label for="interviewType">Interview Type:</label>
    <select id="interviewType" name="interviewType" required>
        <option value="">Select an option</option>
        <option value="Screening">Screening Interview</option>
        <option value="Technical">Technical Interview</option>
        <option value="Behavioral">Behavioral Interview</option>
        <option value="Case Study">Case Study Interview</option>
        <option value="Situational">Situational Interview</option>
        <option value="Competency-Based">Competency-Based Interview</option>
        <option value="Stress">Stress Interview</option>
    </select>
    <br>
    <label for="date">Preferred Date:</label>
    <input type="date" id="date" name="date" required>
    <br>
    <label for="time">Preferred Time:</label>
    <input type="time" id="time" name="time" required>
    <br>
    <button type="submit">Sign Up</button>
</form>
<div id="error-div"> {{message}} </div>
<script src="../../public/js/live_mock_interview.js" type="module"></script>